csr.csv
build
*.pyc
*.o
*.d
*.elf
*.map
app/generated
app/.vscode
*.bin

hyperbus.py

app-c/generated

pac/memory.x
pac/Cargo.lock
pac/src/pac.rs
pac/target

app-rs/Cargo.lock
app-rs/target
app-rs/gdb-session

spacewire-rs/Cargo.lock
spacewire-rs/target
